<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/defaultLayout}">

<head>
	    <title>테스트 페이지 </title>
	    
	    <!-- inline CSS 영역-->
	    <style th:inline="css" type="text/css">
	        body {
	            margin: 30px;
	            border: 1px solid red;
	        }
	    </style>
	
	    <!-- inline JS 영역-->
	    <script th:inline="javascript" type="text/javascript">
	    </script>
	</head>

	<body>
		 <div layout:fragment="content">
			<h1>Content 111영역입니다.</h1>
		</div>
	</body>
</html>
